<form
  [formGroup]="form"
  (submit)="onSubmit()"
  class="p-6"
>
  <header>
    @if (dialogInput.formMode === PetFormMode.CREATE) {
      <h2>Create new pet</h2>
    } @else if (dialogInput.formMode === PetFormMode.UPDATE) {
      <h2>Edit pet</h2>
    }
  </header>
  <main>
    <mat-form-field class="!block mb-2">
      <mat-label>Name</mat-label>
      <input matInput [formControlName]="'name'" id="cy-pet-form-field-name" />
      @if (form.get("name")?.hasError("required")) {
        <mat-error>Pet name is <strong>required</strong>!</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="!block mb-2">
      <mat-label>Category</mat-label>
      <mat-select [formControlName]="'category'" [compareWith]="compareCategories">
        @for (option of dialogInput.allPetCategories$ | async; track option.petCategoryId) {
          <mat-option [value]="option">{{ option.petCategoryName }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="!block mb-2">
      <mat-label>Status</mat-label>
      <mat-select [formControlName]="'status'">
        @for (option of statusOptions; track option) {
          <mat-option [value]="option">{{ option }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <ng-container [formArrayName]="'photoUrls'">
      @for (
        photoUrl of form.controls["photoUrls"].controls;
        track photoUrl;
        let index = $index
      ) {
        <mat-form-field class="!block">
          <mat-label>Photo URL #{{ index + 1 }}</mat-label>
          <input matInput [formControlName]="index" />
          @if (form.get("name")?.hasError("required")) {
            <mat-error>Pet name is <strong>required</strong>!</mat-error>
          }
        </mat-form-field>
      }
    </ng-container>
    <button
      mat-button
      type="button"
      (click)="onAddPhotoUrlClick()"
    >
      + photo
    </button>
  </main>
  <footer class="text-right">
    <button
      mat-button
      type="button"
      (click)="onCancelClick()"
      class="mr-2"
    >
      Cancel
    </button>
    <button mat-flat-button type="submit" id="cy-pet-form-submit-button">Save</button>
  </footer>
</form>
