<div class="p-6">
  <header>
    <h2>Confirmation</h2>
  </header>
  <main class="mb-6 leading-6">
    <p class="m-0">Are you sure you want to remove <strong>{{ (dialogInput.pet$ | async)?.petName }}</strong>?</p>
    <p class="m-0">This action cannot be undone.</p>
  </main>
  <footer class="text-right">
    <button
      mat-button
      type="button"
      (click)="onCancelClick()"
      class="mr-2"
    >
      Cancel
    </button>
    <button mat-flat-button type="button" (click)="onRemoveClick()">Remove</button>
  </footer>
</div>
