@if (loading$ | async) {
  <mat-progress-bar mode="indeterminate" class="!absolute opacity-75" />
}
<main class="p-8">
  <header class="flex items-center mb-2">
    <h1 class="m-0 text-3xl">Pets</h1>
    <button
      mat-icon-button
      (click)="onAddNewPetClick()"
      class="ml-2"
      matTooltip="Add new pet"
      aria-label="Add new pet">
      <mat-icon>add</mat-icon>
    </button>
  </header>
  <div class="flex items-center justify-between">
    <app-pet-filter
      [filter]="(petListFilter$ | async)!"
      (changeFilter)="onFilterChange($event)"
    />
    <app-pet-search
      (changeSearchQuery)="onSearchChange($event)"
    />
  </div>

  <app-pet-table
    [items]="(petListItems$ | async)!"
    [totalCount]="(totalPetsCount$ | async)!"
    [pagination]="(petListPagination$ | async)!"
    (clickEdit)="onEditPetClick($event)"
    (clickRemove)="onRemovePetClick($event)"
    (changePagination)="onPaginationChange($event)"
    (changeSort)="onSortChange($event)"
  />
</main>
